.contact-container {
  max-width: 1620px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-title {
  font-size: 4rem;
  font-weight: bold;
  color: blueviolet;
  margin-bottom: 1rem;
  animation: fadeIn 1s ease-in-out;
}

.contact-text {
  color: rgb(200, 200, 200);
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  animation: fadeIn 1.2s ease-in-out;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list-item {
  border: 1px solid blueviolet;
  border-radius: 20px;
  display: flex;
  margin-bottom: 1.2rem;
  transition: color 0.3s, transform 0.3s;
  animation: bounceIn 1.5s ease-in-out;
}

.contact-link {
  display: flex;
  padding: 1rem;
  align-items: center;
  font-size: 1.3rem;
  color: blueviolet;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.contact-list-item:hover {
  transform: scale(1.2);
  background-color: rgba(211, 116, 252, 0.219);
  border: 1px solid rgb(211, 116, 252);
}

.contact-link:hover {
  color: rgb(211, 116, 252);
}

.contact-link svg {
  margin-right: 1rem;
}

/* xl */
@media (max-width: 1280px) {
  .contact-container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .contact-container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .contact-container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .contact-container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .contact-container {
    width: 100%;
  }
}
