.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 9rem; /* 150px */
}

.home-col-image img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 34rem; /* 550px */
  max-height: 41rem; /* 660px */
}

.home-col-content {
  margin-left: 9rem; /* 150px */
  display: flex;
  flex-direction: column;
}

.home-heading {
  display: flex;
  font-size: 3rem; /* 50px */
  font-weight: bold;
  font-family: Suez One; 
}

.home-heading p {
  margin-top: 6rem; /* 90px */
  margin-bottom: 0;
}

.home-subheading p {
  margin-top: 0;
  margin-bottom: 1rem; /* 16px */
}

.home-subheading {
  display: flex;
  font-size: 1.8rem; /* 30px */
  font-weight: bold;
  flex-wrap: wrap;
}

.home-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.2rem; /* 20px */
  color: rgb(180, 180, 180)  
}

.home-content p {
  margin-top: 0;
  margin-bottom: 0;
}

.home-icons {
  display: flex;
  margin-top: 2rem; /* 35px */
  gap: 1rem; /* 20px */
}

.home-icons a {
  color: blueviolet;
  transition: color 0.3s, transform 0.3s;
}

.home-icons a:hover {
  transform: scale(1.5);
  color: rgb(211, 116, 252);
}